@import "home";

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 15px;
  position: absolute;
  left: 33%;
  padding: 2rem;
  width: 100%;
  max-width: 30rem;
}

.name, .lastName, .login, .password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selector {
  -webkit-appearance: none;
  margin-bottom: 2rem;
  border-radius: 5px;
  height: calc(40px - 2 * 1px);
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
  border: rgba(0, 16, 61, 0.12);
  border-width: 1px;
  border-style: solid;
  padding-left: 12px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.text {
  color: black;
  margin-left: 1rem;
  margin-bottom: 5px;
}

.input {
  margin-bottom: 2rem;
  border-radius: 5px;
  height: calc(40px - 2 * 1px);
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
  border: rgba(0, 16, 61, 0.12);
  border-width: 1px;
  border-style: solid;
  padding: 12px;
}

.btn {
  background-color: #334155;
  border-radius: 5px;
  border: rgba(0, 16, 61, 0.12);
  border-width: 1px;
  border-style: solid;
  height: calc(40px - 2 * 1px);
  color: white;
}

.head {
  color: black;
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.home {
  position: relative;
}